<%- include('../partials/head') %>
  <link rel="stylesheet" href="/stylesheet/components/header.css" />
  <link rel="stylesheet" href="/stylesheet/components/footer.css" />
  <link rel="stylesheet" href="/stylesheet/global.css" />
  <link rel="stylesheet" href="/stylesheet/user.css" />
  </head>

  <body>
    <%- include('../partials/header') %>


      <main>
        <h2>Meus endereços</h2>

        <div class="mainEnderecos">

          <% enderecos.forEach(function(endereco) { %>
            <div class="cardsEnderecos">

              <div class="cardsEnderecosEndereco">

                <% if (endereco.enderecoPadrao) { %>

                  Endereço Padrão

                  <% } %>

                    <div>
                      <%= endereco.logradouro %>, <%= endereco.numero %>
                          <%= endereco.complemento %>
                    </div>

                    <div>
                      <%= endereco.bairro %>
                        <%= endereco.cidade %> - <%= endereco.uf %>

                    </div>



              </div>
            </div>
            <% }); %>
        </div>
        <a href="/user/editUser"><span>Voltar</span></a>

      </main>
      <%- include('../partials/footer') %>

        <script>

        </script>
  </body>

  </html>